[*.cs]

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = none

# SA1602: Enumeration items should be documented
dotnet_diagnostic.SA1602.severity = none

# SA1018: Nullable type symbols should be spaced correctly
dotnet_diagnostic.SA1018.severity = none

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.
dotnet_diagnostic.CS8632.severity = none
